.home {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  gap: 10%;
  /* overflow: hidden; */
  z-index: 4;
}

.homeRight {
  display: flex;
  flex-direction: column;
}
.AnnouncementContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  background: rgba(87, 86, 86, 0.315);
  text-align: left;
  padding: 4px 1rem;
  border-radius: 50px;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.sessionContainer span {
  width: fit-content;
}

.sessionContainer li {
  list-style-type: disc;
  display: flex;
  align-items: center;
}
.sessionContainer:hover li {
  color: rgb(170, 167, 167);
}

.rightContent .heading {
  font-size: 100px;
  letter-spacing: -3px;
  padding: 2rem 0;
  color: rgba(0, 0, 0, 0.89);
}
.content1 {
  width: 50ch;
}
.startContainer {
  width: 100%;
  display: flex;
  padding: 2rem 0;
}
.startContainer div:hover {
  opacity: 0.8;
}

.homeLeft {
  flex-basis: 50%;
  overflow-x: hidden;
}
