.session {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sessionContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(58, 52, 52, 0.363) 3px 3px 60px 6px;
}
.topContainer {
  width: 100%;
  height: 60%;
  background: rgba(143, 143, 231, 0.548);
  transform: skewY(-5deg);
  position: absolute;
  top: -10%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem; */
}
.bottomContainer {
  width: 100%;
  height: 100%;
  position: relative;

  /* transform: skewY(-5deg); */
}
.topItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 30px;
}
.imageCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  transform: skewY(5deg);
  object-fit: fill;
  overflow: hidden;
}
.imageCircle img {
  width: 100%;
  height: auto;
  object-fit: stretch;
}
.bottomItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: -15px;
  left: 25px;
  gap: 2rem;
}
.itemsDes {
  display: flex;
  align-items: center;
  transform: skewY(-5deg);
}
.imageCircle:nth-child(2) {
  position: relative;
  left: -10px;
}
.bottomDes {
  max-width: 80%;
  display: grid;
  gap: 1rem;
}
.keyNote {
  font-size: 20px;
  color: blue;
}
.keyDes {
  font-size: 20px;
  color: black;
}
