.section8 {
  width: 100%;
  position: relative;
  padding: 8rem 0;
}
.section8Container {
  width: 1100px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.itemslists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.itemsheading {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuLists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: none;
  gap: 0.5rem;
}
.menuLists div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.menuLists span {
  font-weight: 400;
  color: rgb(61, 61, 61);
  background: none;
  cursor: pointer;
}
.menuLists span:hover {
  opacity: 0.5;
}
