.toolsPrebuilt {
  width: 100%;
  display: grid;
  gap: 2rem;
  height: 100%;
  font-size: 16px;
}
.miniTools {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.listIcons {
  font-size: 40px;
}

@media only screen and (max-width: 900) {
  .toolsPrebuilt {
    grid-template-columns: auto auto;
  }
}
