.section3 {
  width: var(--Laptops);
  padding: 4rem;
  background-color: #f6f9fc;
}
.section3Container {
  width: 100%;
  position: relative;
  /* padding: 8rem 1rem; */
  display: flex;
  flex-direction: column;
  z-index: 5;
  gap: 2rem;
  overflow: hidden;
}
.section3Container h2 {
  color: #6a73fe;
}
.section3Container h1 {
  width: 25ch;
  font-size: 60px;
}
.sec3Des {
  width: 80%;
  display: flex;
  gap: 2rem;
  font-size: 20px;
}
.sec3Des p {
  flex-basis: 50%;
}
.text-blue {
  color: #6a73fe;
  font-weight: 700;
  cursor: pointer;
}
.text-blue:hover {
  color: black;
}
.cardAnimations {
  width: 1100px;
  position: relative;
  top: -10rem;
  display: grid;
  align-self: flex-start;
  grid-template-areas:
    ". . nfc"
    "card payment ."
    "shopping . ."
    ". chart chart";

  grid-template-columns: 30% 48% 25%;
  grid-template-rows: auto auto auto auto;
  gap: 4rem;
}
